#loginform {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10rem;
}

#signupform {
    padding-top: 2rem;
}

#avatarupload {
    margin-bottom: 1rem;
}

#signupsubmit {
    
}