#loginform {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10rem;
}

#signupform {
    padding-top: 2rem;
}

#avatarupload {
    margin-bottom: 1rem;
}

main {
    margin-top: 3rem;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

#signupsubmit {

}